<mat-card>
  <form>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Nome or Doc#">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width">
            <input matInput placeholder="Destinatário" disabled>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td width="30%">
          <mat-form-field class="full-width">
            <input matInput placeholder="Do c#" disabled>
          </mat-form-field>
        </td>
        <td width="70%">
          <mat-form-field class="full-width">
            <input matInput placeholder="Endereço" disabled>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</mat-card>