<mat-card>
  <!-- <form> -->
  <table class="full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome or Doc#" [formControl]="search" (keydown.enter)="onSearch()">
          <mat-icon matSuffix (click)="onSearch()" class="search-btn">search</mat-icon>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <input matInput placeholder="Destinatário" [formControl]="destinatario">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td width="30%">
        <mat-form-field class="full-width">
          <input matInput placeholder="Do c#" [formControl]="doc">
        </mat-form-field>
      </td>
      <td width="70%">
        <mat-form-field class="full-width">
          <input matInput placeholder="Endereço" [formControl]="endereco">
        </mat-form-field>
      </td>
    </tr>
  </table>
  <!-- </form> -->
</mat-card>